@mixin breakpoint( $bp, $direction: "min" ) {
	@media ( #{ $direction }-width: $bp ) {
		@content;
	}
}

/************
 * Font Size
 ***********/

@mixin font-size( $sizeValue: 1.6 ) {
	font-size: ( $sizeValue * 10 ) + px;
	font-size: $sizeValue + rem;
}




/************
 * Clearings
 ***********/

@mixin clearfix {
	&::before,
	&::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}


/**************************
 * Form Field Placeholders
 *************************/
@mixin optional-at-root( $sel ) {
	@at-root #{ if ( not &, $sel, selector-append( &, $sel ) ) } {
		@content;
	}
}

@mixin placeholder {
	@include optional-at-root( "::-webkit-input-placeholder" ) {
		@content;
	}

	@include optional-at-root( ":-moz-placeholder" ) {
		@content;
	}

	@include optional-at-root( "::-moz-placeholder" ) {
		@content;
	}

	@include optional-at-root( ":-ms-input-placeholder" ) {
		@content;
	}
}
